/*
    @ Alexander James Hamilton
    style.css
*/



/* css properties used across all three html files */

body {
    background-color: #4b4747;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
    margin-bottom: 20px;
}

.my_logo {
    height: 50px;
    width: 50px;
}

.navbar_items {
    list-style-type: none;
    color: #ffebcd;
}

.nav-item {
    display: inline-block;
    margin-left: 19px;
    font-size: 20px;
}

.box_colorization {
    background-color: #0000002f;
    color: #ffebcd;
}

hr {
    background-color: #ffebcd;
}

.navbar-brand.col-md-6 {
    text-align: left;
}

.navbar_items.col-md-5 {
    text-align: right;
}

/* Switching to small screen */
@media screen and (max-width: 767.98px) {
    .navbar-brand.col-sm-12, .navbar_items.col-sm-12 {
        text-align: center;
    }
}



/* About page css properties */


.profile_photo {
    float: left;
    height: 60%;
    margin-right: 25px;
    margin-left: 25px;
    width: 80%;
}

.about_text {
    font-size: 24px;
}



/* Contact page css properties */

input, textarea {
    margin-bottom: 15px;
}

/* btn-danger is used soley for color scheme and adjusted to function as a submit button. */ 
.btn-danger {
    margin-bottom: 15px;
    margin-top: 10px;
}



/* Portfolio page css properties */

.portfolio_content {
    text-align: center;
}

.portfolio_img {
    height: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 70%;
}

.port_img_banner {
    background-color: #ac0909bb;
    bottom: 25%;
    color: #ffebcd;
    height: 25px;
    left: 15%;
    position: relative;
    width: 70%;
}