body {
    background-color: #4b4747;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
    margin-bottom: 20px;
}

.my_logo {
    height: 50px;
    width: 50px;
}

.navbar_items {
    list-style-type: none;
}

.nav-item {
    display: inline-block;
    margin-right: 35px;
    font-size: 20px;
}

.row_spacing {
    height: 500px;
}

.about_box {
    background-color: #0000002f;
    color: #ffebcd;
}

hr {
    background-color: #ffebcd;
}

.profile_photo {
    float: left;
    height: 60%;
    margin-right: 15px;
    width: 80%;
}

.about_text {
    font-size: 22px;
}







/*
Extra Small
@media screen and (max-width: 575.98px) {

}
Small
@media screen and (min-width: 576px) {
    
}
Medium
@media screen and (min-width: 768px) {
    
}
Large
@media screen and (min-width: 992px) {
    
}
Extra Large
@media screen and (min-width: 1200px) {
    
}
*/